<h3>Sign In </h3>
<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required="true"> 
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required="true"> 

    <input type="submit" vlaue="Login" class="btn">

</form>
<button class="btn" onclick="register()">Register a New Account</button>
<div class="register" id="register">
<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required="true"> 
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required="true"> 

    <input type="submit" vlaue="Register" class="btn">
    
</form>
</div>