<div class="author">
    <h1 class="author__heading">Hi, I am Coems. </h1>
    <p class="author__body">Coems Master, Developer</p>
</div>

<img src="https://images.unsplash.com/photo-1473830394358-91588751b241?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="Person looking out through window" class="hero-image" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">

        <% data.forEach(post=> { %>


            <li>
                 <a href="/post/<%=post._id%>">
                    <span>
                        <%= post.title %>
                    </span>
                    <span class="article-list__date">
                        <% function formatDate(date) { const options={ year: 'numeric' , month: 'long' , day: 'numeric'
                            , hour: '2-digit' , minute: '2-digit' }; return new Date(date).toLocaleDateString('en-US',
                            options); } %>

                            <%= formatDate(post.createdAt) %>
                    </span>
                </a>
            </li>

            <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
    
</section>